<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="detail">
        <h1>Dit is de details page</h1>
        <p><%= data.name %></p>

        <div class="user">
     <a href="/">Back to list</a>
          <img class="profilepic" src=<%=data.picture.large%>> </img>
        <p><%= data.name %> <%= data.lastName %></p>
        <p><%= data.insult %></p>
        <p>Phone number: <a href="tel:<%= data.cellphone %>"> <%= data.cellphone %></a></p>
        <p>Directly insult this user via email: </p>
        <a href="mailto:<%= data.email %>?subject=<%= data.name %> <%= data.insult %>"><%= data.email %></a>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
